$font: 'trailr', sans-serif;
$background: #fefefe;
$text: #4b507a;
$pfont:'traill', sans-serif;
$bold:'trailb', sans-serif;
$blue: #00129a;

@font-face {
  font-family: 'trailr';
  src: url('../fonts/PaulGrotesk-Regular-Trail.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'traill';
  src: url('../fonts/PaulGrotesk-Thin-Trail.otf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'trailb';
  src: url('../fonts/PaulGrotesk-Bold-Trail.otf'); /* IE9 Compat Modes */
}

body {
    background-color: white;
    margin: 0;
    overflow: hidden;
    font-family: $font;
}

p {
    color: black;
    font-size: 2em;
    border: 0;
    font-family: 'traill'
};

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #22292C;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

// Navigation styling

.arrow {

  width:40px;
  height:40px;
  float: right;
  margin: 20px;
  padding: 5px;
  background-color: #00129a;
  span {
    position:absolute;
    left:0;
    background: #FFF8DC;
    height: 2px;
    width: inherit;
    margin: auto;
    left: 4px;
    &.top {
      top: 15px;
    }
    &.middle {
      top: 20px;
      }
    &.bottom {
      top: 25px;
    }
  }
}

.arrowchild {
    position:relative;
    width: 65%;
    margin: auto;
}
// ARROW
.arrow span {
  // Phase 2 - OUT
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.arrow:hover {
    background-color: white;
     transition: all 0.5s ease-in-out;
    cursor: pointer;
  span {

    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background:  #00129a;
    &.top {
        top: 20px;
        transform: rotate(-45deg);
    }
    &.bottom {
        top: 20px;
        transform: rotate(45deg);

    }
    &.middle {
        display: none;
    }
  }
}
